

h1{
    font-family: Stencil Std, fantasy;
    color: white;
    
    
    
}
#ourbigtitle{
    margin-right: 30%;
}






.midle{
    margin: 0%;
    position: relative;
    }
img{
    height: 300px;
    width: 500px;
    border-radius: 25px;
}
p{
    font-family: Comic Sans MS, Comic Sans, cursive;
   
   text-align: justify;
   color: white;
   
}
.Apic{
    display: flex;
    padding-left: 0px;

}
.allp{
    width: 480px;
    margin: 15px;
}
h3{
    font-family: Gill Sans, sans-serif;
    color: white;
}
.button4 {border-radius: 12px;}
body{
    background-image: url("https://www.meme-arsenal.com/memes/afdd3e8d87202ed1c77fd706668f2031.jpg");
    background-size: cover;
    background-attachment: fixed;
}   
.hight{
    text-align: center;
}

