img{
    height: 300px;
    width: 500px;
    border-radius: 25px;
}
p{
    font-family: URW Chancery L, cursive;
   
   text-align: justify;
}
.firsttab{
    display: flex;
    padding-left: 20px;
    margin: 15px;

}
.nameandweb{
    margin: 20px;
}
.paragraphe{

    margin: 5%;
    background-color: rgba(180, 180, 180, 0);
    border-radius: 25px;
}
.ts{
    left: 30px;
    margin: 10%;
}
body{
   background-color: white;
}   

.websit{
    left: 10px;
    margin: 5%%;

}
h3{
    font-family: URW Chancery L, cursive;
}
